.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.about-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 20rem;
}

.about-img {
  width: 100%;
  border-radius: 30px;
}

.readmore {
  padding: 4.7rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  color: rgb(245, 244, 244);
  background-color: var(--blue-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.readmore:hover {
  background-color: rgb(61, 82, 118);
}

@media screen and (max-width: 768px) {
  .about-container {
    grid-template-columns: 1fr;
    gap: 0.5rem;
    padding: 1rem;
  }

  .about-box {
    max-width: 100%;
    padding: 0.5rem;
  }

  .about-img {
    width: 80%;
    max-width: 15rem;
  }

  .about-text {
    padding: 1rem;
  }

  .readmore {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
  }
}
