.carousel {
  flex: 1;
}

.custom-carousel {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: auto;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carousel-slide {
  display: flex;
  transition: transform 1s ease;
}

.carousel-slide img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .custom-carousel {
    max-width: 100%;
  }

  .carousel-slide img {
    height: 12.5rem;
    object-fit: cover;
  }
}
