/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --blue-color: rgb(69, 91, 130);
}

* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.app {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

/* Nav + header */

.header {
  border-bottom: 1px dotted rgb(201, 215, 221);
  padding: 1rem;
  color: white;
  text-align: center;
  width: 100vw;
}

.header nav {
  display: flex;
  justify-content: center;
}

.header nav a {
  color: var(--blue-color);
  margin: 0 1rem;
  padding: 0rem 1.2rem;
  cursor: pointer;
  text-decoration: none;
}

/* Body */

.section {
  padding: 1.5rem;
  min-height: 100vh;
  color: var(--blue-color);
}

.section-h2 {
  margin-top: 0;
  text-align: center;
  padding: 3rem;
}

/* Body - section main */

.section.section-main {
  width: 100vw;
  background-image: url(./assets/pexels-markusspiske-114296.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-h2 {
  text-align: center;
  padding-top: 5rem;
  font-family: "Tomorrow", sans-serif;
  font-size: 4rem;
  letter-spacing: 0.3rem;
}

/* Contact */
.contact-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 5rem;
}

img {
  height: 15rem;
  width: 15rem;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

/* Footer */

.footer-container {
  background-color: var(--blue-color);
  color: white;
  width: 100vw;
  margin-top: auto;
  height: 10rem;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.socials-img {
  height: 35px;
  width: 35px;
}

/* Mediaqueries */

@media screen and (max-width: 768px) {
  .main-h2 {
    font-size: 2.7rem;
  }

  .contact-container {
    gap: 1rem;
  }
}
